.speech { 
    font-family: 'Times New Roman', Times, serif;
    font-size: 10;
    color: black;
}

.direction {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12;
    color: black;
    background-color: aquamarine;
}

.direction:hover {
    color: brown;
    background-color: aqua;
}

.name {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14;
    color: black;
}

.name:hover {
    color: chocolate;
    text-shadow: 5px 3px 10px green;
    border: solid;
    margin-right: 90%;
}

.hilda {
    color: purple;

}

.solness {
    color: olive;

}

.mrs-solness {
    color:brown;

}

table, td {
    border: 1px solid black;
    color: black;
    text-align: center;
    padding: 5px;
    margin: 10px;
}

th {
    color: white;
}

td:nth-child(n) {
    background-color:cornsilk;
}

th:nth-child(n) {
    background-color:darkgoldenrod;
}